{% import "toolkit/summary-table.html" as summary %}

{% extends "_base_page.html" %}

{% block page_title %}
    Buyers – Digital Marketplace admin
{% endblock %}

{% block breadcrumb %}
  {%
      with items = [
          {
              "link": url_for('.index'),
              "label": "Admin home"
          },
      ]
  %}
    {% include "_breadcrumb.html" %}
  {% endwith %}
{% endblock %}

{% block main_content %}
  <div>
    <h3>Team Details</h3>
    Team ID: {{team_id}}
    <br/>
    Team Leads: {{team_leads}}
  </div>

<div> 
  <h3> Team Member's Permissions</h3>
  <br/> 
  {% call(item) summary.list_table(
    team,
    field_headings=[
        'Name',
        'Email',
        'Phone number'
    ],
    field_headings_visible=True)
%}

{% call summary.row() %}

  {{ summary.field_name(item.name) }}

  {% call summary.field() %}
    {{ item.emailAddress }}
  {% endcall %}

  {% call summary.field() %}
    {{ item.phoneNumber }}
  {% endcall %}

{% endcall %}
{% endcall %}


{% endblock %}
</div>