{% import "toolkit/summary-table.html" as summary %}

{% extends "_base_page.html" %}

{% block page_title %}
Buyers – Digital Marketplace admin
{% endblock %}

{% block breadcrumb %}
{%
      with items = [
          {
              "link": url_for('.index'),
              "label": "Admin home"
          },
      ]
  %}
{% include "_breadcrumb.html" %}
{% endwith %}
{% endblock %}

{% block main_content %}
<div>
  <h3>Team Details</h3>
  Team ID: {{team_id}}
  <br/>
  Team Name: {{team.name}}
</div>

<div>
  {% for i in team.teamLeads %}
  <h3>Team Leads Information</h3>
    {% for key, value in team.teamLeads[i].items() %}
        {% if key == 'emailAddress' %}
          email address: {{ value }}
          <br/>
        {% else %}
          name : {{ value }}
          <br/>
          {% endif %} 
      {% endfor %}
  {% endfor %}
</div>

<div>
  <h3> Team Members</h3>
  {% for i in team.teamMembers %}
      {% for key, value in team.teamMembers[i].items() %}
          {% if key == 'emailAddress'%}
            email address: {{value}}
            <br/>
         {% elif key == 'name'%}
            name : {{value}}
            <br/>
            <br/>
          {% endif %}
      {% endfor %}
    {% endfor %}
</div>

<div> 
    <h3> Team Members' Permissions</h3>
    {% for i in team.teamMembers %}
        {% for key, value in team.teamMembers[i].items() %}
            {% if key == 'emailAddress'%}
              email address: {{value}}
              <br/>
            {% elif key == 'name'%}
              name: {{value}}
              <br/>
            {% elif key == 'permissions' %}
              <br/>Permissions:<br/> 
              <table>
              {% for pk, pv in value.items() %}
                <tr>
                  <td>{{ pk  | replace("_"," ")}}</td>
                  <td>: {{pv}}</td>
                </tr>
            {% endfor %}
            </table>
            {% else %}
                {{key}}
                {{value}}
                <br/>
                <br/>
            {% endif %}
      {% endfor %}
    {% endfor %}
</div>

<div>
  <h3> Brief: </h3>
</div>

{% endblock %}
